body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-body-dark {
  background: linear-gradient(106.89deg, #050915 -7.89%, #060b1c 106.45%);
}

.bg-body-blend {
  background: linear-gradient(45deg, #3796e5 0%, #46ece3 100%),
    rgba(0, 0, 0, 0.02) !important;
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
 z-index: -1;
  
}

.text_light {
  color: #f6f6f6;
  opacity: 0.8;
}

.gradient_light {
  background: linear-gradient(45deg, #3796e5 0%, #46ece3 100%);
}

.future_green {
  background: #02e1ba;
}

.purple {
  background: #8931bb;
}

.blood_blue {
  background: #429ae3;
}

.electric_blue_green {
  background: #46ebe3;
}

.card_bg {
  background: linear-gradient(108.66deg, #0a1524 -47.25%, #0d1c27 145.76%);
}

.card_border {
  background: linear-gradient(107.8deg, #429ae3 -2.65%, #46ebe3 105.11%);
}

.rainbow_color {
  background: linear-gradient(
    64deg,
    #46ebe3 16.26%,
    #45aaf2 33.77%,
    #20bf6b 50.57%,
    #fa8231 67.37%,
    #eb3b5a 83.48%
  );
}

.love_red {
  background: #fc5c65;
}

.kind_wait {
  background: #fed330;
}

.dark_gradient {
  background: linear-gradient(161.19deg, #0c55ab -0.1%, #051d46 105.99%);
}

.gradient_text {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.card_light {
  background: linear-gradient(
    108.66deg,
    rgba(10, 21, 36, 0.3) -47.25%,
    rgba(13, 28, 39, 0.3) 145.76%
  ) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(80px) !important;
  border: 0.5px solid #429ae3 !important;
  border-radius: 0.5rem !important;
}

.bg_glow_light {
  background: linear-gradient(107.8deg, #429ae3 -2.65%, #46ebe3 105.11%);
  opacity: 0.25;
  filter: blur(372px);
}

.logo_glow {
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(45deg, #3796e5 0%, #46ece3 100%);
  filter: blur(230px);
}

.card_blue_gradient {
  background: linear-gradient(
    108.66deg,
    rgba(255, 255, 255, 0.75) -47.25%,
    rgba(255, 255, 255, 0.75) 145.76%
  );
  mix-blend-mode: overlay;
  background-blend-mode: overlay;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(200px);
}

.w-full{
  width: 100%;

}

.h-full{
  height: 100%;
}

.-z-1{
  z-index: -1;
}
